.logo, .short-logo, .return-order-container, .cart-container, .cart-text, .replace-icon {
  display: none;
}

/* Default state */
.logo, .return-order-container, .cart-container, .cart-text {
  display: inline;
}

/* Media query for smaller screens */
@media (max-width: 940px) {
  .logo {
      display: none;
  }
  .short-logo {
      display: inline;
  }
  .return-order-container, .cart-container, .cart-text {
    display: none;
}
  .replace-icon {
      display: inline;
  }
}

.logo, 
.short-logo,
.return-order-container div,
.cart-quantity,
.cart-text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.logo, .short-logo {
  color: white;
  font-family: Helvetica;
  font-size: 25px;
  font-weight: 600;
  margin-right: 30px;
}

.left-section {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.middle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.home-link {
  text-decoration: none;
}

.checkout-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* .search-bar {
  width: 500px;
  height: 35px;
  padding-left: 20px;
  border: none;
  border-radius: 5px 0px 0px 5px;
} */

.search-bar {
  width: 100%; /* Initial width as a percentage */
  max-width: 500px; /* Optional: Maximum width */
  height: 35px;
  padding-left: 20px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .responsive-search {
      width: 80%; /* Adjust width for smaller screens */
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .responsive-search {
      width: 100%; /* Full width for very small screens */
  }
}

.search-icon {
  width: 20px;
  height: 20px;
}

.search-icon-button {
  height: 35px;
  width: 50px;
  border: none;
  border-radius: 0px 5px 5px 0px;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  max-width: 200px;
  margin: 0px 10px;
}

.order-link {
  text-decoration: none;
}

.return {
  font-size: 13px;
}

.and-orders {
  font-size: 15px;
  font-weight: 600;
}

.return-order-container {
  height: 40px;
  width: 70px;
  margin: 0px 20px;
}

.cart-logo-and-quantity-container {
  position: relative;
  display: flex;
  margin: 5px 0px;
}

.cart-icon {
  height: 35px;
}

.cart-quantity {
  font-weight: 600;
  position: absolute;
  top: -3px;
  right: 17px;
}

.cart-text {
  font-size: 14px;
  font-weight: 600;
  margin: 5px 0px;
}