body {
  color: black;
}

.flex-layout {
  display: flex;
  justify-content: center;
}

.home-link {
  text-decoration: none;
}

.checkout-container {
  width: 1100px;
}

.header-container {
  height: 60px;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .header-container {
    max-width: 900px;
  }
}

@media (max-width: 720px) {
  .header-container {
    max-width: 750px;
  }
}

@media (max-width: 1000px) {
  .company-logo {
    margin-left: 30px;
  }
}

@media (max-width: 720px) {
  .company-logo {
    margin-left: 30px;
  }
}

@media (max-width: 720px) {
  .right-section img {
    display: none;
  }
}

.header-fixed {
  background-color: white;
  z-index: 1000;
  position: fixed;
}

.middle-section {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}

.company-name {
  font-family: Helvetica;
  font-size: 25px;
  font-weight: 600;
  color: black;
}

.checkout-title, 
.cart-quantity {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 500;
}

.checkout-title {
  color: black;
}

.cart-quantity {
  color: rgb(0, 113, 133);
  text-decoration: none;
}

.order-review-container {
  max-width: 1200px;
  margin-top: 95px;
}

.product-image-container img {
  width: 120px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
}

.product-details-container {
  display: flex;
  justify-content: space-between;
}

.delivery-option-container section {
  width: 300px;
}

.input-selector {
  cursor: pointer;
}

.order-and-payment-container {
  display: flex;
  justify-content: space-between;
}

.page-title {
  font-size: 21px;
  font-weight: bold;
}

.page-title-container {
  margin: 20px 0;
}

.order-container, .payment-info-container {
  border: solid;
  border-width: 1px;
  border-color: rgb(222, 222, 222);
  border-radius: 5px;
  padding: 10px;
}

.order-container {
  margin-bottom: 15px;
  margin-right: 43px;
  height: 250px;
}

.payment-info-container {
  /* width: 345px; */
  height: 230px;
  padding: 10px;

}

.product-info-container {
  max-width: 500px;
  margin: 10px 20px;
}

.product-name, .price, .quantity-selector {
  margin-bottom: 10px;
}

.quantity-selector {
  display: flex;
  justify-content: flex-start;
  gap: 7px;
}

.delivery-date, .delivery-date-option {
  color: rgb(0, 118, 0);
  font-weight: 700;
}

.spacer {
  margin-left: 10px;
}

.delivery-date-container {
  margin: 10px;
}

.delivery-date {
  font-size: 20px;
}

.delivery-option-container {
  display: flex;
  margin: 10px 0;
  cursor: pointer;
}

.product-name, .delivery-option-title, .order-summary-title {
  font-weight: 700;
}

.price, .total-cost, .order-cost {
  color: rgb(177, 39, 4);
  font-weight: 700;
}

.quantity-selector {
  display: flex;
}

.cost-info-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.place-order-button {
  width: 300px;
  height: 40px;
  background-color: white;
  border: solid;
  border-color: rgb(222, 222, 222);
  border-width: 1px;
  border-radius: 3px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.place-order-button:hover {
  background-color: black;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.update-quantity-link,
.delete-link,
.save-button {
  color: rgb(1, 124, 182);
  cursor: pointer;
}

.update-quantity-link:hover,
.delete-link:hover,
.save-button:hover {
  color: orange;
}

.quantity-input {
  width: 30px;
  display: none;
}

.save-button {
  display: none;
}

.is-editing-quantity .quantity-input {
  display: initial;
}

.is-editing-quantity .save-button {
  display: initial;
}

.is-editing-quantity .update-quantity-link {
  display: none;
}

.is-editing-quantity .quantity-link {
  display: none;
}

.view-products-button {
  background-color: white;
  color: black;
  font-size: 16px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(222, 222, 222);
  width: 130px;
  height: 45px;
  margin-top: 20px;
}

.view-products-button:hover {
  background-color: black;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

@media (max-width: 1000px) {
  .order-and-payment-container {
    display: grid;
    /* Here, 1fr means the first column will take
      up the remaining space in the grid. */
    grid-template-columns: 1fr 366px;
    /* Use align-items: start; to prevent the elements
      in the grid from stretching vertically. */
    align-items: start;
    grid-template-columns: 1fr;
    padding: 0px 30px;
  }
}

@media (max-width: 1000px) {
  .product-details-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1000px) {
  .payment-info-container {
    grid-row: 1;
    max-width: 700px;
    margin-bottom: 12px;
    margin-right: 0px;
  }
}

@media (max-width: 1000px) {
  .order-container {
    width: 700px;
    margin-bottom: 12px;
    margin-right: 0px;
    height: auto;
  }
}

@media (max-width: 720px) {
  .payment-info-container {
    grid-row: 1;
    max-width: 400px;
    margin-bottom: 12px;
    margin-right: 0px;
  }
}


@media (max-width: 1000px) {
  .page-title {
    margin-left: 28px;
  }
}

@media (max-width: 720px) {
  .page-title {
    margin-left: 28px;
  }
}

@media (max-width: 720px) {
  .order-container {
    max-width: 400px;
    margin-bottom: 12px;
    margin-right: 0px;
  }
}